@import '/src/styles/variables-css.less';
@import '/public/fonts/MabryPro/stylesheet';

html,
body {
  width: 100%;
}

html {
  text-size-adjust: 100%;
}

body {
  font-size: 14px;
  background-color: var(--primary-color-bg);
  font-family: var(--font-family);
  font-weight: 300;
}

html,
body,
#root,
#__next,
.app {
  height: 100%;
}

.theme-dark {
  background-color: var(--primary-color-bg--dark);
  transition: all 0.5s;

  body {
    background-color: var(--primary-color-bg--dark);
    transition: all 0.5s;
  }
}
