.rounded {
    border: 1.5px solid #6962A8;
    background: #FFFFFF;
}

.videoWrapper {
    overflow: hidden;
}

.video {
    background: rgba(0, 0, 0, 0.18);
}

.storyVideo {
    margin-right: 23px;
}

.default {
    justify-content: center;
    width: 54px;
}
